@model EmployeeTask

<br />
<form method="post">
    <label>Personel</label>
    @Html.DropDownListFor(x=> x.AppUser.Id, (List<SelectListItem>) ViewBag.v, new {@class="form-control"})
      
    <label>Görev Başlığı</label>
    <input type="text" class="form-control", asp-for="Title"/>
    <br />
    <label>Görev Açıklaması</label>
    <input type="text" class="form-control" , asp-for="Details" />
    <br />
</form>