@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using UpSchool.EntityLayer.Concrete
@model List<Emploee>

@{
    ViewBag.Title = "deneme";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<h1>Personel Listesi</h1>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Personel</th>
        <th>Departman</th>
        <th>Sil</th>
        <th>Düzenle</th>
        <th>Görevler</th>
        <th>Durum</th>
    </tr>

    @foreach (var item in Model)
    {<!--id eklenmemesine rağmen neden hata vermedi?-->
        <tr>
            <td>@item.EmployeeID</td>
            <td>@item.EmployeeName  @item.EmployeeSurname</td>
            <td>@item.Category.CategoryName</td>
            <td><a href="Employee/DeleteEmployee/@item.EmployeeID" class="btn btn-warning">Sil</a></td>
            <td><a href="/Employee/UpdateEmployee/@item.EmployeeID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-success">Görevler</a></td>
            @{
                if(item.EmployeeStatus == true)
                {
                    <td><a href="/Employee/ChangeStatuesToFalse/@item.EmployeeID" class="btn btn-outline-warning">Pasif Yap</a></td>
                }
                else
                {
                    <td><a href="/Employee/ChangeStatuesToTrue/@item.EmployeeID" class="btn btn-outline-danger">Aktif Yap</a></td>
                }
            }
        </tr>
    }
</table>

<a href="/Employee/AddEmployee/" class="btn btn-primary">Yeni Personel Girişi</a>

