
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
}

<h1>Index</h1>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<br />
<button type="button" id="btncustomerlist" class="btn btn-outline-dark">Müşteri Listesi</button>
<button type="button" id="btncustomeradd" class="btn btn-outline-primary">Müşteri Ekle</button>
<button type="button" id="btncustomerget" class="btn btn-outline-success">Müşteri Getir</button>
<button type="button" id="btncustomerdelete" class="btn btn-outline-dark">Müşteri Sil</button>
<button type="button" id="btncustomerupdate" class="btn btn-outline-warning">Müşteri Güncelle</button>
<br /><br />
<button type="button" id="btnsweet" class="btn btn-outline-warning">Müşteri Güncelle</button>


@*müşteri listesine tıklandığında müşteriler buraya gelecek*@
<div id="customerlist">

</div>

<br />

<div class="form-group">
    <input type="text" id="txtcustomername" placeholder="Müşteri adını giriniz" class="form-control"/>
    <br />
    <input type="text" id="txtcustomersurname" placeholder="Müşteri soyadını giriniz" class="form-control" />
    <br />
    <input type="text" id="txtcustomermail" placeholder="Müşteri mailini giriniz" class="form-control" />
    <br />
    <input type="text" id="txtcustomerphone" placeholder="Müşteri telefonunu giriniz" class="form-control" />
    <br />
</div>

<br />

<div class="form-group">
    <input type="text" placeholder="Aranacak ID değerini giriniz" id="txtid" class="form-control"/>

</div>
<br />

<div id="customergetbyid">

</div>
<div>
    <input type="text" class="form-control" id="txtdeleteid" placeholder="Silinecek ID değerini giriniz."/>

</div>

<br />

<div class="form-control">
    <h4>Güncelleme Paneli</h4>
    <input type="text" class="form-control" id="txtname" placeholder="Güncellenecek adınız" />
    <br />
    <input type="text" class="form-control" id="txtsurname" placeholder="Güncellenecek soyadınız" />
    <br />
    <input type="text" class="form-control" id="txtmail" placeholder="Güncellenecek mailiniz" />

    <br />
    <input type="text" class="form-control" id="txtphone" placeholder="Güncellenecek telefon numaranız" />
         <br />             
</div>





<script>
    $("#btncustomerlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "get",
            url: "/Admin/AdminCustomer/CustomerList/",
            success: function (func1) {
                let values = jQuery.parseJSON(func1);
                console.log(values);
                let tablehtml = "<table class=table table-bordered> <tr><th>Musteri ID</th><th>Musteri Adı</th><th>Musteri Soyadı</th><th>Musteri Mail</th></tr>";
                $.each(values, (index, item) => {
                    tablehtml += `<tr><td>${item.CustomerID}</td> <td>${item.CustomerName}</td> <td>${item.CustomerSurname}</td> <td>${item.CustomerMail}</td></tr>`
                });
                tablehtml += "</table>";
                $("#cusotmerList").html(tablehtml);
            }
        });
    });
    $("#btncustomeradd").click(function () {
        let csutomerValues = {
            CustomerName: $("#txtcustomername").val(),
            CustomerSurname: $("#txtcustomersurname").val(),
            CustomerMail: $("#txtcustomermail").val(),
            CustomerPhone: $("#txtcustomerphone").val(),
        };
        $.ajax({
            type: "post",
            url: "/Admin/AdminCustomer/AddCustomer/",     
            data: csutomerValues,
            success: function (func2) {
                let result = jQuery.parseJSON(func2);
                alert("Müşteri başarılı bir şekilde eklendi")
            }
        });
    });
    $("#btncustomerget").click(x => {
        let id = $("#txtid").val();
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "get",
            url: "/Admin/Admincustomer/GetById",
            data: { CustomerID: id },
            success: function (func3) {
                let result = jQuery.parseJSON(func3);
                console.log(result);
                let tablehtml2 = `<table class=table table-bordered> <tr> <th>musteriID</th> <th>musteri Adı</th> <th>musteri Soyadı</th> </tr> <tr><td>${result.CustomerID}</td> ><td>${result.CustomerName}</td> ><td>${result.CustomerSurname}</td></tr></table>`
                $("#CustomerGetByID").html(tablehtml2);
            }
        });
    });
    $("#btncustomerdelete").click(x => {
        let id = $("#txtdeleted").val();
        $.ajax({
            url: "/Admin/AdminCustomer/DeleteCustomer/" + id,
            type: "get",
            contentType: "application/json",
            success: function (func4) {
                alert("Müşteri Başarılı Bir Şekilde silindi");
            }
        });
    });
    $("#btncustomerupdate").click(function () {
        let values = {
            CustomerID: $("#txtid").val(),
            CustomerName: $("#txtname").val(),
            CustomerSurmane: $("#txtsoyad").val(),
            CustomerPhone: $("#txttelefon").val(),
            CustomerMail: $("#txtmail").val(),
        };
        $.ajax({
            type: "get",
            url: "/Admin/AdminCustomer/UpdateCustomer/",
            success: function (func5) {
                alert("güncelleme işlemi yapıldı")
            }
        });
    });
</script>




