@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AppRole

<h1>AddRole</h1>


<h1>Rol Ekleme Sayfası</h1>

<form method="post">
    <label>Rol Adı</label>
    <input type="text" asp-for="Name" class="form-control"/>
    <span class="text-danger" asp-validation-for="Name"></span>
    <button class="btn btn-warning">Rolü Ekle</button>
</form>
